<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/Base2::layout(~{::.html_head})">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

<div class="html_head">
    <div class="container">
        <div class="to">
            <h1 class="bg-success mx-auto text-center">Add Item</h1>
<form th:method="post" th:action="@{/buyer/itemHandeler}" enctype="multipart/form-data" th:object="${item}">
    <div class="form-group">
        <input type="text" name="Item_name" class="form-control"
               id="item_name" aria-describedby="emailHelp" placeholder="Item name">
    </div>
    <div class="form-group">
        <input type="text" name="Item_Brand" class="form-control"
               id="brandName" aria-describedby="emailHelp" placeholder="Item brand">
    </div>
    <div class="form-group">
        <input type="text" name="Item_type" class="form-control"
               id="item_type" aria-describedby="emailHelp" placeholder="Item type">
    </div>
    <div class="form-group">
        <input type="text" name="quantity" class="form-control"
               id="quantity" aria-describedby="emailHelp" placeholder="Quantity">
    </div>
    <div class="form-group">
        <input type="text" name="unit_price" class="form-control"
               id="unit_price" aria-describedby="emailHelp" placeholder="Price">
    </div>
    <div class="form-group">
        <textarea name="description" class="form-control"
                  id="description" aria-describedby="emailHelp" placeholder="Description"></textarea>
    </div>
     <div class="form-group">
        <input type="text" name="category" class="form-control"
               id="category" aria-describedby="emailHelp" placeholder="Item category">
    </div>

    <div class="input-group mb-3">

        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" name="profileImage">
            <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
        </div>
    </div>

    <button type="submit" class="btn btn-warning">Submit</button>
</form>



</div>
    </div>
</div>
</body>
</html>